<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      <%= typeof title !== 'undefined' ? title + ' - ' : '' %>My Blog
    </title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="nav-container">
        <a href="/" class="nav-brand">
          <i class="fas fa-blog"></i>
          My Blog
        </a>
        <div class="nav-menu">
          <a href="/" class="nav-link">Home</a>
          <a href="/create" class="nav-link btn-primary">
            <i class="fas fa-plus"></i>
            Write Post
          </a>
        </div>
      </div>
    </nav>
  </body>
</html>
